//  logo
img{
  display: block;
   margin-left: auto;
   margin-right: auto;
  margin-top: 1.9375rem;
  height: 2.5625rem;
  width: 7.4375rem;
  object-fit: contain;

}

// verification image
 .verified{
    width: 10.875rem;
    height: 10.375rem;
    object-fit: contain;
    text-align: center;
    margin-top: 11.25rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h3{
    margin-top: 1.8125rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #040D2C;
  }
  p{
    color:#000000;
    font-size:1rem;
    text-align: center;
    margin: 1.5625rem 2.5rem 0 2.5rem;
    // text-align: justify;
  }

  .btn {
    margin-top: 8.9375rem;
  }


