//  logo
img{
  display: block;
   margin-left: auto;
   margin-right: auto;
  margin-top: 31px;
  height: 41px;
  width: 119px;
  object-fit: contain;

}

// verification image
 .verified{
    width: 83px;
    height: 84px;
    object-fit: contain;
    text-align: center;
    margin-top: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h3{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #040D2C;
  }
  p{
    color:#040D2C;
    font-size:16px;
    margin-top: -5px;
    text-align: center;
  }

  ion-button{
  --background: #018401;
  --border-radius:5px;
  height: 50px;
  margin: 200px 4px 0 4px;

  }

