//  logo
img{
  display: block;
   margin-left: auto;
   margin-right: auto;
  margin-top: 31px;
  height: 41px;
  width: 119px;
  object-fit: contain;

}

// verification image
 .verified{
    width: 174px;
    height: 166px;
    object-fit: contain;
    text-align: center;
    margin-top: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h3{
    margin-top: 29px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #040D2C;
  }
  p{
    color:#000000;
    font-size:16px;
    text-align: center;
    margin: 25px 40px 0 40px;
    // text-align: justify;
  }

  .btn {
    margin-top: 143px;
  }


