@import "../../manage-beneficiaries/manage-beneficiaries.page.scss";

ion-icon{
  color : #000000;
}
.searchbar{
  width: 100% !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
}
.search-icon-container{
   margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

// .ben-name{
//   ion-text{
//     font-weight: bolder !important;
//   }
// }


