<ion-header>
  <ion-toolbar class="ion-padding-end" >
    <ion-title>Select Beneficiary</ion-title>
    <ion-icon size="large" name="close-outline" routerLink="/transfer" slot="end" (click)="cancel()"></ion-icon>
  </ion-toolbar>
</ion-header>

<!-- <ion-searchbar [debounce]="1000" color="dark"  [debounce]="1000" (ionChange)="handleSearchInput($event)" ></ion-searchbar> -->

  <div class="search-icon-container">
    <ion-searchbar
      fill="none"
      mode="ios"
      class="searchbar"
      [debounce]="1000"
      (ionChange)="handleSearchInput($event)"
    ></ion-searchbar>
</div>

<ion-content class="ion-padding">
  <div class="beneficiaries-list">
    <ion-item-group  *ngFor="let list of filteredBenList"  button detail="true">
      <ion-item (click)="addBeneficiary(list.benAccountName,list.benAccountNumber, sendTrue)"  button>
        <!-- <ion-avatar>
          <ion-label>AA</ion-label>
        </ion-avatar> -->
        <div class="beneficiaries-details">
          <div class="ben-name">
            <ion-text>{{list.benAccountName}} </ion-text>
          </div>
          <div class="ben-account">
            <h3>{{list.benAccountNumber}}</h3><h2>.</h2><h3>{{list.benBankName}}</h3>
          </div>
        </div>
      </ion-item>
    </ion-item-group>

      <ion-item *ngIf="filteredBenList && filteredBenList.length <= 0">
      <h6>Can't Find Beneficiary</h6>
      </ion-item>


  </div>
</ion-content>
