
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon name="chevron-back-outline"  routerLink="/new-tab/profile"></ion-icon>
    <ion-text><span>Change Password</span></ion-text>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding " [scrollEvents]="true">

  <div class="top-section">
    <h2>Change your Password</h2>
    <p>Please input your current login password, then new password</p>
  </div>

  <form  [formGroup]="changePasswordForm">
    <div class="auth">
      <div class="auth-form">

        <div class="currentPassword ">
          <ion-label for="currentPassword">Current Password</ion-label>
          <ion-input   type="password" name="currentPassword" formControlName="currentPassword" placeholder=""></ion-input>
        </div>


        <div class="newPin ">
          <ion-label for="newPin">Enter new Password</ion-label>
          <ion-input type="password" name="newPin"  formControlName="newPassword" placeholder="" ></ion-input>
        </div>
        
        <ion-list lines="none">
            <ion-label>Password must have at least 8 characters</ion-label>
          </ion-list>

        <div class="confirmPin">
          <ion-label for="confirmPin">Confirm New Password</ion-label>
          <ion-input type="password" name="confirmPin" placeholder="" formControlName="confirmNewPassword" ></ion-input>
        </div>

        <div style='color:red' *ngIf="changePasswordForm.get('newPassword').value !== changePasswordForm.get('confirmNewPassword').value && changePasswordForm.get('confirmNewPassword').value !== null">
  Passwords does not match</div>

      </div>
    </div>

    <div class="footer">
      <ion-button   (click)="changePassword(changePasswordForm)"  class="button"  type="submit" expand="block" [disabled]="!changePasswordForm.valid" >Submit</ion-button>
    </div>
  </form>



</ion-content>
