<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-icon
    name="arrow-back"
    routerLink="/settings"
    slot="start"
  ></ion-icon>
    <ion-title class="ion-text-center">Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [scrollEvents]="true">
  <!-- <div class="top-section">
    <h2>Change your Password</h2>
    <p>Please input your current login password, then new password</p>
  </div> -->

  <form [formGroup]="changePasswordForm">
    <div class="auth-container">
      <div class="auth-form">
        <div class="currentPassword form">
          <ion-label for="currentPassword">Old Password</ion-label>
          <ion-input
          [type]="showPwd ? 'text' : 'password'"
            name="currentPassword"
            formControlName="currentPassword"
            placeholder="Enter old password"
          ></ion-input>
          <ion-icon
            slot="end"
            [name]="pwdIcon"
            (click)="togglePwd()"
          ></ion-icon>
        </div>

        <div class="newPin form">
          <ion-label for="newPin">Enter new Password</ion-label>
          <ion-input
          [type]="showPwds ? 'text' : 'password'"
            name="newPin"
            formControlName="newPassword"
            placeholder="Enter new password"
          ></ion-input>
          <ion-icon
            slot="end"
            [name]="pwdIcons"
            (click)="togglePwds()"
          ></ion-icon>
        </div>

        <div class="confirmPin form">
          <ion-label for="confirmPin">Confirm New Password</ion-label>
          <ion-input
          [type]="showPwdss ? 'text' : 'password'"
            name="confirmPin"
            placeholder=""
            formControlName="confirmNewPassword"
            placeholder="Confirm new password"
          ></ion-input>
          <ion-icon
            slot="end"
            [name]="pwdIconss"
            (click)="togglePwdss()"
          ></ion-icon>
        </div>

        <div
          style="color: red"
          *ngIf="changePasswordForm.get('newPassword').value !== changePasswordForm.get('confirmNewPassword').value && changePasswordForm.get('confirmNewPassword').value !== null"
        >
          Passwords does not match
        </div>
      </div>
    </div>

    <div class="btn">
      <ion-button
        (click)="changePassword(changePasswordForm)"
        class="button"
        type="submit"
        expand="block"
        [disabled]="!changePasswordForm.valid"
        >Submit</ion-button
      >
    </div>
  </form>
</ion-content>
