@import "../../../logIn/pages/login-screen/login-screen.page.scss";

.auth {
  margin-top: 2.6rem;
}

.footer {
  h3 {
    height: 18px;
    left: calc(50% - 233px / 2 - 0.5px);
    top: 717px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #3C3C43;
    span {
      color: #a3a30a;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;
    }
  }
}


