// logo
.img-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0 3rem 0;
  img {
    // width: 35%;
    width: 4.4675rem;
    height: 3.8106rem;
  }
}
// welcome text
ion-content {
  ion-text {
    margin: 5.75rem .25rem 0 .25rem;
    font-weight: 700;
    font-size: 1.25rem;
    // color: -webkit-linear-gradient(to right, #649173, #3E5151 );
  }
  .sub-text {
    font-weight: 600;
    font-size: .875rem;
    line-height: 140%;
    margin-top: .625rem;
    margin: .625rem .25rem 0 .25rem;
  }
}
// input fields
.accountNumber {
  font-size: .875rem;
  margin: 2.625rem .25rem 0 .25rem;
  background: #ffffff;
  box-shadow: 0rem 0rem .5rem rgba(0, 0, 0, 0.06);
  border-radius: 1rem;
  padding: 1rem 1rem 0 1rem;
  ion-input {
    background: #f0f3f3;
    border-radius: .75rem;
    height: 3.5rem;
    margin-top: .5rem;
  }

   ion-select{
    background: #f0f3f3;
    border-radius: .75rem;
    height: 3.5rem;
    margin-top: .5rem;
  }
}

.form {

  ion-input  {
    background: #f0f3f3;
    border-radius: .75rem;
    border-color: .0625rem solid #e5e5e5;
    height: 3.5rem;
    margin-top: .5rem;
  }



  // eye icon
  ion-icon {
    float: right;
    margin: -2.5rem .75rem 0px 0px;
    position: relative;
    z-index: 99;
    font-size: 1.4375rem;
  }
}
.password ion-input:focus {
  border: solid .0625rem red;

  outline-color: blue !important;
}

// forgot password link
.forgot-text {
  text-align: center;
  font-size: .875rem;
  margin-top: 2rem;
  color: rgba(60, 60, 67, 0.6);
  span {
    color: #a3a30a;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .8125rem;
  }
}

.forgot-password {
  float: right;
  font-weight: 600;
  font-size: .875rem;
  line-height: 1.125rem;
  letter-spacing: -0.015rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.signup {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  color: #3e4412;
}
