<ion-content fullscreen class="ion-padding"
  >
  <div class="img-container">
    <img src="../assets/images/olive3.png" />
  </div>

  <ion-text class="welcome-text">Login</ion-text>
  <p class="sub-text text">{{ savedAccountNumber ? "Welcome back !" : "Welcome to Olive MFB"}}</p>

  <form [formGroup]="signInForm">
    <!-- input fields -->
    <div class="accountNumber">
      <ion-label for="accountNumber" form>Account Number</ion-label>
      <ion-input
        (keyup.enter)="signIn(signInForm)"
        type="tel"
        name="accountNumber"
        maxlength="10"
        formControlName="accountNumber"
        [disabled]="savedAccountNumber ? true : false"
      ></ion-input>
      <ion-text></ion-text>
    </div>

    <div class="form">
      <ion-label for="password">Password</ion-label>

      <ion-input
        [type]="showPwd ? 'text' : 'password'"
        formControlName="password"
        (keyup.enter)="signIn(signInForm)"
      >
      </ion-input>
      <ion-icon slot="end" [name]="pwdIcon" (click)="togglePwd()"></ion-icon>
    </div>
    <p class="forgot-password text" slot="end" routerLink="/forgot-password">
      Forgot Password?
    </p>
    <!-- end of input field -->

    <!-- button -->
    <div class="btn">
      <ion-button
        expand="block"
        (click)="signIn(signInForm)"
        [disabled]="!signInForm.valid"
        >Log in</ion-button
      >
    </div>

    <p
      class="register-text forgot-text"
      *ngIf="savedAccountNumber"
      (click)="unlinkDevice()"
    >
      Not {{savedAccountNumber}}? <span>Unlink device</span>  
    </p>
    <div *ngIf="!savedAccountNumber" class="signup">
      <!-- <p routerLink="/signup">Open Account</p> -->
      <p routerLink="/signup-form">Sign up</p>
    </div>
  </form>
</ion-content>
