// logo
.img-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0 3rem 0;
  img {
    // width: 35%;
    width: 71.48px;
height: 60.97px;
  }
}
// welcome text
ion-content {
  ion-text {
    margin: 92px 4px 0 4px;
    font-weight: 700;
    font-size: 20px;
  
    // color: -webkit-linear-gradient(to right, #649173, #3E5151 );
  }
  .sub-text{
    font-weight: 600;
font-size: 14px;
line-height: 140%;
    margin-top: 10px;
    margin: 10px 4px 0 4px;
  }
}
// input fields
.accountNumber {
  font-size: 14px;
  margin: 42px 4px 0 4px;

  ion-input {
    background: #F0F3F3;
    border-radius: 12px;
    height: 56px;
    margin-top: 8px;
  }
}

.password {
  font-size: 14px;
  margin: 32px 4px 0 4px;

  ion-input {
    background: #F0F3F3;
    border-radius: 12px;
    border-color: 1px solid #e5e5e5;
    height: 56px;
    margin-top: 8px;
  }
  // eye icon
  ion-icon {
    float: right;
    margin: -40px 12px 0px 0px;
    position: relative;
    z-index: 99;
    font-size: 23px;
  }
}
.password ion-input:focus {
  border: solid 1px red;

  outline-color: blue !important;
}

// button
// ion-button {
//   margin-top: 56px;
//   margin-left: 4px;
//   margin-right: 4px;
//   --border-radius: 5px;
//   height: 50px;
//   font-size: 16px;
//   --background: #018401;
//   --background-activated: #01840188;
// }

// forgot password link
.forgot-text {
  text-align: center;
  font-size: 14px;
  margin-top: 47px;
  color: rgba(60, 60, 67, 0.6);
  span{
    color: #A3A30A;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
  }
}

.forgot-password {
  float: right;
  font-weight: 600;
font-size: 14px;
line-height: 18px;
letter-spacing: -0.24px;
  margin-top: 0.8rem;
  margin-bottom: 1.5rem;
}

.signup {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  color: #3e4412;
}
