@import "../../transfer/transfer.page.scss";

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;

  .text {
    color: #808000;
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0.16px;
  }
}
.bottom-border {
  left: 4.5px;
  border: 1px solid #cdcdb9;
}

.container {
  width: 100%;
  margin-top: 10px;

  ion-label {
    color: #000;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0.14px;
  }

  ion-label {
    color: #000;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0.14px;
  }
}
.ben-filter-container {
  display: block;
  width: 100%;
  padding: 1rem 4rem 0 1rem;

  .check {
    display: flex;
    align-items: center;
    margin: 30px auto;
    margin-top: 0;
    gap: 10px;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;

  .button {
    background-color: #808000;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    width: 345px;
    height: 48px;
    border-radius: 12px;
  }
}
