<ion-content class="ion-padding">
  <ion-item lines="none">
    <div class="header">
      <div class="title">
        <ion-label class="text">Filter by</ion-label>
      </div>
    </div>
  </ion-item>
  <div class="bottom-border"></div>

  <ion-item lines="none">
    <div class="container">
      <ion-label> Bank </ion-label>
    </div>
  </ion-item>

  <div class="ben-filter-container">
    <div class="check">
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Same Bank</ion-label>
    </div>
    <div class="check">
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Other Bank</ion-label>
    </div>
  </div>

  <div class="button-container">
    <button class="button" type="submit" expand="block"
      >Continue</button
    >
  </div>
</ion-content>
