.ion-padding{
.grid {
  margin-top: 1rem;
ion-col {
  display: flex;
  // align-items: center;
  // justify-content: center;
  // text-align: center;
  flex-direction: column;
  // background-color: #135d54;
  // border: solid .0625rem #fff;
  color: #A3A30A;
  font-size: .75rem;
  font-weight: 500;
  .regenerate {
  margin: .3125rem 0 0 0;
  color: #000000;
  }
  .text {
    margin-top: -0.5625rem;
  }
  ion-button {
    margin: -.5rem 0 0 -0.625rem;
    font-size: .625rem;
    color: #000000;
    text-decoration: underline;
    text-transform: capitalize;
  }

}
}
.resendOtp {
  display: flex;
  align-items: center;
  justify-content: center;
  ion-icon {
    width: 1.5625rem;
    height: 1.5625rem;
  }
}
// text
ion-text {
  h4 {
    font-size: 1.375rem;
  }
  p {
    width: 18.6rem;
    line-height: 1.5rem;
    font-size: .875rem;
    font-weight: 600;
line-height: 140%;
    margin-top: .5rem;
  }
}

// passcode text
.passcode {
  text-align: center;
  font-size: 1rem;
  color: #000000;
  margin-top: 1rem;
}
.ellipses {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
  margin-top: 1.5rem;
  #circle {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;

    .inner-circle {
      width: 1rem;
      height: 1rem;
      border: .0625rem solid #000;
      border-radius: 50%;
      text-align: center;
      font-weight: bold;
    }
  }

  .test {
    background-color: #040d2c;
  }
}

// dialpad section
.dialpad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1.25rem 1.0625rem 1.25rem 1.0625rem;
  column-gap: 1.25rem;
  row-gap: 1.25rem;
  justify-content: space-evenly;
  // background-color: rgb(102, 13, 13);

  .grid-items {
    // --background: rgb(110, 79, 79);
    display: grid;
    justify-content: space-evenly;
    font-size: 2.1875rem;
    color: #000000;
  }
}
}