.ion-padding{
.grid {
  margin-top: 1rem;
ion-col {
  display: flex;
  // align-items: center;
  // justify-content: center;
  // text-align: center;
  flex-direction: column;
  // background-color: #135d54;
  // border: solid 1px #fff;
  color: #A3A30A;
  font-size: 12px;
  font-weight: 500;
  .regenerate {
  margin: 5px 0 0 0;
  color: #000000;
  }
  .text {
    margin-top: -9px;
  }
  ion-button {
    margin: -0.5rem 0 0 -10px;
    font-size: 10px;
    color: #000000;
    text-decoration: underline;
    text-transform: capitalize;
  }

}
}
.resendOtp {
  display: flex;
  align-items: center;
  justify-content: center;
  ion-icon {
    width: 25px;
    height: 25px;
  }
}
// text
ion-text {
  h4 {
    font-size: 22px;
    // margin-left: 1.25rem;
    // margin-top: 1.5rem;
  }
  p {
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
  }
}

// passcode text
.passcode {
  text-align: center;
  font-size: 16px;
  color: #000000;
  margin-top: 1rem;
}
.ellipses {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 24px;
  #circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;

    .inner-circle {
      width: 16px;
      height: 16px;
      border: 1px solid #000;
      border-radius: 50%;
      text-align: center;
      font-weight: bold;
    }
  }

  .test {
    background-color: #040d2c;
  }
}

// dialpad section
.dialpad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 17px 20px 17px;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: space-evenly;
  // background-color: rgb(102, 13, 13);

  .grid-items {
    // --background: rgb(110, 79, 79);
    display: grid;
    justify-content: space-evenly;
    font-size: 35px;
    color: #000000;
  }
}
}