<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="auto"
          ><ion-icon
            name="arrow-back"
            routerLink="/manage-beneficiaries"
          ></ion-icon
        ></ion-col>
        <ion-col size="9.5">Add Beneficiary</ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form class="transfer-forms" [formGroup]="beneficiaryForm">
    <div class="account">
      <div class="account-header" (click)="openBankModal()">
        <ion-text>{{bankName}}</ion-text>
        <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
      </div>
    </div>

    <div class="account-number">
      <ion-input
        counter="true"
        (input)="getNameEnquiry($event)"
        type="text"
        maxlength="10"
        placeholder="Account Number"
        formControlName="beneficiaryAcctNum"
        [attr.disabled]="bankCode ? false: true"
      ></ion-input>

      <ion-text [style.color]="display ? 'black': 'red'" id="name"
        >{{beneficiaryname === true ? null : beneficiaryCheck}}</ion-text
      >
    </div>

    <div class="account-name">
      <ion-input
        counter="true"
        (input)="getNameEnquiry($event)"
        type="text"
        [value]="beneficiaryname"
        maxlength="10"
        placeholder="Account Name"
        formControlName="beneficiaryAcctNum"
        [attr.disabled]="bankCode ? false: true"
      ></ion-input>
    </div>

    <div class="btn">
      <ion-button
        class="button"
        (click)="addBeneficiary(beneficiaryForm)"
        type="submit"
        expand="block"
        [disabled]="bankCode && success  ? false : true"
        >Continue</ion-button
      >
    </div>
  </form>
</ion-content>
