@import "/src/app/transfer/transfer.page.scss";

.account-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border: .125rem solid #e5e5e5;
  padding: .875rem .5rem .625rem .5rem;
  height: 3.5rem;

  .name {
    float: right;
    position: absolute;
    font-size: .625rem;
  }

  ion-icon {
    float: right;
  }
}
.account-header {
  border-radius: .75rem;
  background: #f0f3f3;
  color: #3c3c43;
  font-size: .875rem;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 1.125rem;
  letter-spacing: -0.015rem;
  padding: 1rem 1rem;
}
.account-number {
  display: block;
  margin-top: 1.875rem;

  ion-input {
    height: 3.5rem;
    padding: 1rem 1rem !important;
    border-radius: .75rem;
    background: #f0f3f3;
    color: #3c3c43;
    line-height: 1.125rem;
    letter-spacing: -0.015rem;
  }
  #name {
    font-size: .75rem;
    float: right;
    padding-right: .625rem;
  }

  ion-icon {
    float: right;
  }
}

.ion-no-border {
  ion-text {
    width: 100%;
  }
}

ion-searchbar {
  margin-top: 2rem;
}

.scroll {
  height: 100vh;
  overflow-y: scroll;
}

.btn {
  --border-radius: .75rem !important;
}
