@import '/src/app/auth/Signup/pages/create-pin/create-pin.page.scss';

.filled{
 background-color: #018401;
}

.regenerate{
   text-align: center;
   margin-top: .8rem;
 }
 #timer{
   text-align: center;

   button{
     padding: .5rem;
     border-radius: .5rem;
     background-color: #018401;
     margin-top: .4rem;
   }
 }



