<!-- header -->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon name="chevron-back-outline"  routerLink="/forgot-pin"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>

<!-- passcode text -->
  <ion-text>
<h3>Verify OTP</h3>
<p>Please input the one time password sent to the phone number associated with this account </p>
</ion-text>

<!-- ellipses -->
<p class="passcode">OTP</p>
<div class="ellipses">
  <div id="circle" >
    <div id="circles0" class="inner-circle "></div>
  </div>
  <div id="circle " >
    <div id="circle">
      <div id="circles1" class="inner-circle "></div>
    </div>
  </div>
  <div id="circle">
    <div id="circle">
      <div id="circles2" class="inner-circle "></div>
    </div>
  </div>
  <div id="circle" >
    <div id="circle">
      <div id="circles3" class="inner-circle "></div>
    </div>
  </div>
  <div id="circle" >
    <div id="circle">
      <div id="circles4" class="inner-circle "></div>
    </div>
  </div>
  <div id="circle" >
    <div id="circle">
      <div id="circles5" class="inner-circle "></div>
    </div>
  </div>
  </div>

   <p class="regenerate">Didn't receive Otp?</p>
        <div id="timer">
          <p *ngIf="countdownTime > 0">Resend Otp in: {{countdownTime}} seconds </p>
          <button (click)="resendOtp()" [disabled]="disableResendButton">Resend OTP</button>
        </div>

<!-- dialpad section -->
<div class="dialpad">
<ion-button  fill="clear" size="small" class="grid-items" (click)="addNumber(1)">1</ion-button>
<ion-button   fill="clear" type="button" size="small"  class="grid-items" (click)="addNumber(2)">2</ion-button>
<ion-button   fill="clear" type="button" size="small"  class="grid-items" (click)="addNumber(3)">3</ion-button>
<ion-button   fill="clear" type="button" size="small"  class="grid-items" (click)="addNumber(4)">4</ion-button>
<ion-button    fill="clear" type="button" size="small" class="grid-items" (click)="addNumber(5)">5</ion-button>
<ion-button  fill="clear"  type="button" size="small" class="grid-items"(click)="addNumber(6)">6</ion-button>
<ion-button  fill="clear" type="button" size="small" class="grid-items" (click)="addNumber(7)">7</ion-button>
<ion-button   fill="clear" type="button" size="small"  class="grid-items" (click)="addNumber(8)">8</ion-button>
<ion-button  fill="clear" type="button" size="small"  class="grid-items" (click)="addNumber(9)">9</ion-button>
  <ion-button  fill="clear" type="button" size="small" class="grid-items" (click)="removeNumber()"><ion-icon name="backspace-sharp"></ion-icon></ion-button>
<ion-button  fill="clear" type="button" size="small" class="grid-items" (click)="addNumber(0)">0</ion-button>

</div>


</ion-content>
