ion-content{
  h3{
    text-align: center;
  }
}

.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50%;
}

ion-spinner {
  --color: #a3a30a;
  width: 50px;
  height: 50px;
}