<ion-content class="ion-padding">
  <div class="header">
  <h3>Banks</h3>
  <ion-searchbar [debounce]="1000" color="dark" mode="ios" placeholder="Search" (ionChange)="handleSearchInput($event)"></ion-searchbar>
</div>

<div *ngIf="spinner" class="spinner">
  <ion-spinner name="circles" mode="ios"></ion-spinner>
</div>
  <div class="scroll">
    <div *ngIf="filteredBankList &&  filteredBankList.length > 0">
<ion-item *ngFor="let bank of filteredBankList"  >
  <ion-label (click)="confirm(bank.bankName, bank.bankCode)">{{bank.bankName}}</ion-label>
</ion-item>
</div>
<div  *ngIf="filteredBankList && filteredBankList.length <=0" >
 <ion-item >
  <ion-label >Bank not Found</ion-label>
</ion-item>
</div>
</div>

</ion-content>
