ion-toolbar {
  ion-title {
    font-size: 1rem;
    font-weight: 700;
  }
}

.transfer-forms {
  height: 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #000000;

  .title {
    font-weight: 600;
    font-size: 14px;
  }

  ion-item {
    --background: #ededed;
    ion-select-option {
      display: flex;
      justify-content: space-between;
    }
  }
  .inputGroup {
    margin-top: 2.5rem;
    ion-input {
      height: 56px;
      background-color: #ededed;
      border-color: 1px solid #e5e5e5;
      padding: 40px;
      border-radius: 0.8rem;
    }


    ion-select {
      height: 56px;
      background-color: #ededed;
      border-color: 1px solid #e5e5e5;
      border-radius: 0.8rem;
      color: #000000;
    }

    .select-beneficiary {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.2rem;
      align-items: center;
    }

    .title {
      font-weight: 600;
      font-size: 14px;
    }
  }

  .transfer-limit {
    margin-top: 4px;
    height: 23px;
    display: flex;
    justify-content: space-between;
  }

  .accounts {
    height: 56px;
    background-color: #ededed;
    border-color: 2px solid #e5e5e5;
    border-radius: 0.8rem;
  }
  .accounts-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #666666;
    padding: 18px 8px 10px 8px;

    ion-text {
      height: 15px;
      font-weight: 400;
      line-height: 18px;
    }
  }
  .account-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #666666;
    padding: 18px 8px 10px 8px;
    height: 56px;
    background-color: #ededed;
    border-color: 2px solid #e5e5e5;
    margin-top: -0.5rem;

    .account-type {
      h3 {
        font-size: 16px;
      }
      p {
        margin-top: -8px;
        font-size: 13px;
        margin-bottom: 20px;
      }
    }
  }

  .toggle {
    ion-toggle {
      --background-checked: #018401;
    }
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 24px 4px 4px;
    height: 19px;
  }

  ion-text {
    font-size: 16px;
  }
}

//beneficiaries modal STYLES
.beneficiaries-list {
  ion-item {
    margin: 0px 0px 0px -15px;
  }
  ion-avatar {
    background-color: #e6e6e6;
    width: 40px;
    height: 40px;
    margin-right: 10px;

    ion-label {
      color: #000000;
      font-size: 15px;
      margin: 5px 0px 0px 8px;
    }
  }
}

.beneficiaries-details {
  margin-top: 18px;
}

.ben-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  ion-text {
    font-weight: 900;
    font-size: 16px;
  }
}

.ben-account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h3 {
    font-weight: 300;
    font-size: 14px;
    margin-top: 8px;
  }

  h2 {
    font-weight: 900;
    font-size: 20px;
    margin: 0px 4px 10px 4px;
  }
}

.account-options {
  display: flex;
  justify-content: space-between;
}

ion-label {
  font-size: 14px;
}
