<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-icon
    name="arrow-back"
    routerLink="/new-tab/hometab"
    slot="start"
  ></ion-icon>
    <ion-title class="ion-text-center">Same Bank Transfer</ion-title>
  </ion-toolbar>
</ion-header>


<!-- Transfer Forms -->
<ion-content class="ion-padding-horizontal">
  <form [formGroup]="intTransForm" class="transfer-forms">

    <!-- <div class="transfer-forms"> -->
      <section class="form inputGroup">
      <p class="title">Select account</p>
      <div class="accounts" (click)="isAccount =!isAccount">
        <div class="accounts-header">
          <ion-text>{{accountNumber}}</ion-text
          ><ion-icon name="chevron-down-outline" slot="end"></ion-icon>
        </div>
      </div>
      </section>

      <!-- list of Accounts -->
      <div class="accountlist_wrapper" *ngIf="isAccount">
        <div
          *ngFor="let account of multipleAccounts"
          class="account-list"
          (click)="selectAccountNumber(account.accountNumber)"
          (click)="isAccount =!isAccount"
        >
          <div class="account-type">
            <h3>{{account.accountNumber}}</h3>
          </div>

          <div class="acct-number">
            <ion-text
              >{{account.availableBalance|currency:"NGN":"symbol-narrow"}}</ion-text
            >
          </div>
        </div>
      </div>
      <!--End list of Accounts -->

      <!-- <div class="beneficiary-tab"> -->
      <div class="inputGroup form">
        <div class="select-beneficiary title">
          <p>Beneficiary account</p>
          <img
            (click)="openModal()"
            class=""
            alt="beneficiaries icon"
            src="../../assets/icon/beneficiariesIcon.svg"
          />
        </div>
        <ion-input
          (input)="getNameEnquiry($event)"
          maxlength="10"
          type="text"
           class="custom"
          name="beneficiaryAcctNum"
          placeholder="Input beneficiary account"
          formControlName="beneficiaryAcctNum"
        ></ion-input>
        <ion-text
          class="title"
          [style.color]="isAccountSelected === false && accountName ? 'red' : 'black'"
          >{{beneficiaryAccountName}}</ion-text
        >
      </div>
      <!--  </div> -->

      <div class="inputGroup form">
        <p class="title">Amount(NGN)</p>
        <ion-input
          type="text"
          name="amount"
          formControlName="amount"
          placeholder="Input Amount"
           class="custom"
          (input)="formatInput($event.target.value)"
        ></ion-input>
        <div class="transfer-limit">
          <ion-label>Current. transfer limit:</ion-label>
          <ion-label class="title">
            {{limit|currency:"NGN":"symbol-narrow"}}
          </ion-label>
        </div>
      </div>

      <div class="inputGroup form">
        <p class="title">Narration</p>
        <ion-input
          type="text"
          name="narration"
           class="custom"
          formControlName="narration"
          placeholder="Transaction description"
        ></ion-input>
      </div>
      <!--End of Transfer Forms -->

      <div class="toggle">
        <ion-toggle  (ionChange)="toggleChange($event)"></ion-toggle>
        <ion-text>Save to my list of beneficiaries</ion-text>
      </div>

      <div class="btn">
        <ion-button
          (click)="internalTransfer(intTransForm)"
          [disabled]="intTransForm.invalid || !isAccountSelected"
          type="submit"
          expand="block"
          >Continue</ion-button
        >
      </div>
    <!-- </div> -->
  </form>
</ion-content>
