

<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-icon
    name="arrow-back"
    routerLink="/other-transfer"
    slot="start"
  ></ion-icon>
    <ion-title class="ion-text-center">Confirmation</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" fullscreen [scrollEvents]="true">

   <div class="introduction">
    <ion-text>Please confirm transaction details before you continue</ion-text>
    <div>


  <div class="content">
    <section>
      <p>From</p>
      <p>Savings Account</p>
      <p class="bold_text">2001017191</p>
    </section>

    <section>
       <p>To</p>
      <p  class="bold_text">Oladapo Timilehin</p>
      <p>2001017191</p>
      <p>Zenith Bank Plc.</p>
    </section>

    <section>
        <p>Amount</p>
        <p  class="bold_text">{{1000 |currency:"NGN":"symbol-narrow"}}</p>
    </section>

      <section>
        <p>Narration</p>
         <p  class="bold_text">Transaction description</p>
    </section>

  </div>

    <div class="button_group">

    <div class="btn">
      <ion-button class="button" (click)="openPinModal()" type="submit" expand="block" >Continue</ion-button>
    </div>

      <div class="btn">
        <ion-button class="btn-edit"  type="submit" expand="block" routerLink="/other-transfer">Back</ion-button>
      </div>

      </div>


  </div>


