<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-icon
    name="arrow-back"
    routerLink="/forgot-password"
    slot="start"
  ></ion-icon>
    <ion-title class="ion-text-center">Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text>
    <h3>Forgot your Password?</h3>
    <p>Please input your OTP and new password</p>
  </ion-text>

  <form [formGroup]="changePasswordForm">
    <div class="accountNumber">
      <ion-label for="otp" form>Enter OTP</ion-label>
      <ion-input
        type="text"
        name="otp"
        maxlength="6"
        formControlName="otp"
      ></ion-input>
      <!-- <ion-grid class="grid">
        <ion-row>
          <ion-col class="resendOtp" size="auto"><ion-icon name="time-outline"></ion-icon></ion-col>
          <ion-col > <p class="regenerate">Didn't receive Otp? <ion-button fill="clear" 
            (click)="resendOtp()" [disabled]="disableResendButton">Try again</ion-button></p>
            <div id="timer">
              <p class="text" *ngIf="countdownTime > 0">{{countdownTime}} secs </p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid> -->
      
      <div id="timer">
        <p *ngIf="countdownTime > 0">Resend Otp in: {{countdownTime}} seconds <ion-button fill="clear" 
          (click)="resendOtp()" [disabled]="disableResendButton">Try again</ion-button></p>
      </div>
    </div>

    <div class="accountNumber">
      <ion-label for="password" form>Enter New Password</ion-label>
      <ion-input
        type="password"
        name="password"
        maxlength="10"
        formControlName="newPassword"
      ></ion-input>
      <!-- <ion-list lines="none">
        <ion-label>Password must have at least 8 characters</ion-label>
      </ion-list> -->
    </div>
    

    <div class="accountNumber">
      <ion-label for="password" form>Confirm New Password</ion-label>
      <ion-input
        type="password"
        name="password"
        maxlength="10"
        formControlName="confirmNewPassword"
      ></ion-input>
      <ion-text></ion-text>
    </div>
 
    <div class="btn">
    <ion-button
      expand="block"
      [disabled]="!changePasswordForm.valid"
      (click)="changePassword(changePasswordForm)">Change Password</ion-button>
  </div>
  </form>
</ion-content>
