@import "../forgot-password.page.scss";
.ion-padding {
  p {
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.5rem;

    text-align: justify;
  }

  .accountNumber {
    margin-top: 1.5rem;

    .retry-otp {
      display: flex;
    }

    ion-button {
      margin: -.5rem 0 0 -.3125rem;
      font-size: .625rem;
      color: #000000;
      text-decoration: underline;
      text-transform: capitalize;
    }
    
  }
}

ion-list {
  margin-top: .5rem;
  font-weight: 300;
  font-size: .9375rem;
  ion-label {
    margin-left: .25rem;
    font-weight: 400;
    font-size: .9375rem;
  }

  ion-item {
    margin-bottom: -0.9375rem;
    font-weight: 400;
    font-size: .875rem;
    color: #000000;
  }
}


.regenerate {
  margin-top: .8rem;
  display: flex;
  justify-content: center;
}

#timer {
  display: flex;
  justify-content: center;
  text-align: center;

  button {
    padding: .5rem;
    border-radius: .5rem;
    background-color: #018401;
    margin-top: .4rem;
  }
}
