<!-- <ion-content> -->
<div class="transaction-body" [style.height]="isView ? '100vh' : '30vh'">
  <div
    class="transaction-history"
    *ngFor="let history of accountHist; let i = index"
  >
    <ion-item
      lines="none"
      class="items-display"
      (click)="
        openModal(
          history.transactionDate,
          history.transactionType,
          history.transactionReference,
          history.transactionAmount,
          history.senderAndReceiverInfo.sourceAccount,
          history.senderAndReceiverInfo.beneficiaryName,
          history.statementBalance,
          history.senderAndReceiverInfo.beneficiaryAccountNumber,
          history.senderAndReceiverInfo.sourceAccountName
        )
      "
      button
    >
      <div class="image-container">
        <img
          class="type-icon"
          [src]="
            history.transactionType === 'DR'
              ? '/assets/icon/debit.png'
              : '/assets/icon/credit.png'
          "
          alt="Arrow Image"
        />
      </div>
      <div id="transactions-details">
        <div class="transactions-amount">
          <h3>{{ history.transactionType === "DR" ? "Debit" : "Credit" }}</h3>
          <p
            class="transaction-details-content"
            *ngIf="history.senderAndReceiverInfo"
          >
            {{
              history.transactionType === "DR"
                ? history.senderAndReceiverInfo.beneficiaryName
                : history.senderAndReceiverInfo.sourceAccountName
            }}
          </p>
        </div>
      </div>

      <div id="transactions-balance">
        <div class="transaction-amount">
          <h3 [class]="history.transactionType === 'DR' ? 'debit' : 'credit'">
            {{ history.transactionAmount | currency : "NGN" : "symbol-narrow" }}
          </h3>
          <div class="transactions-amount-subcontent">
            <p>{{ formatDate(history.transactionDate) }}</p>
          </div>
        </div>
      </div>
      <!-- </ion-item> -->

      <ion-item *ngIf="accountHist && accountHist.length <= 0">
        <h3>No recent Transactions</h3>
      </ion-item>
      <!-- </ion-content> -->
    </ion-item>
  </div>
</div>
