//ion-items styling
.transaction-body {
  height: 110vh;

  #date {
    font-size: .75rem;
  }
  #name {
    font-size: 3.125rem;
  }
  .transaction-history {
    display: flex;
    ion-item {
      width: 100%;
      margin: 0rem -1rem 0rem -.9375rem;
      background: #fafafa;
      border-radius: .5rem;
      margin-bottom: .625rem;
    }

    .image-container {
      padding-bottom: 1.5rem;
      img {
        margin-right: .625rem;
      }
    }
  }

  #transactions-details {
    float: left;
    width: 50%;
    align-content: center;
    margin-bottom: .9375rem;
    h3 {
      font-size: 1rem;
      line-height: 1rem;
      margin-bottom: .25rem;
    }

    .transactions-amount {
      .transaction-details-content {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: .75rem;
        line-height: .9375rem;
        color: #4b4b4b;
      }
    }
  }

  #transactions-balance {
    float: right;
    width: 50%;
    .transaction-amount {
      display: block;
      width: 100%;
      align-content: center;
      direction: rtl;
      font-size: 1rem;
    }
    .transactions-amount-subcontent {
      p {
        font-size: .625rem;
        line-height: .9375rem;
        margin-bottom: .25rem;
        color: #666666;
      }
    }
  }

  .transaction-amount {
    float: right;
    width: 25%;
    margin-bottom: .9375rem;
    font-family: "Montserrat";
    color: #4b4b4b;
    font-style: normal;
    font-weight: 600;
    h3 {
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }

  //change balance color
  h3[class="debit"] {
    font-size: 1.5625rem;
    margin: .4375rem 0rem 0rem .4375rem;
  }

  h3[class="credit"] {
    font-size: 1.5625rem;
    margin: .4375rem 0rem 0rem .4375rem;
  }
}
