//ion-items styling
.transaction-body {
  overflow: scroll;
  transition:  linear !important;

  #date {
    font-size: 0.75rem;
  }
  #name {
    font-size: 3.125rem;
  }
  .transaction-history {
    display: flex;
    ion-item {
      width: 100%;
      margin: 0px -1rem 0rem -0.9375rem;
      background: #fafafa;
      border-radius: 0.5rem;
      margin-bottom: 0.625rem;
    }

    .image-container {
      img {
        margin-right: 0.625rem;
      }
    }
  }

  #transactions-details {
    float: left;
    width: 50%;
    align-content: center;
    margin-bottom: 0.9375rem;
    h3 {
      font-size: 1rem;
      line-height: 1rem;
      margin-bottom: 0.25rem;
    }

    .transactions-amount {
      .transaction-details-content {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 0.9375rem;
        color: #4b4b4b;
      }
    }
  }

  #transactions-balance {
    float: right;
    width: 50%;
    .transaction-amount {
      display: block;
      width: 100%;
      align-content: center;
      direction: rtl;
      font-size: 1rem;
    }
    .transactions-amount-subcontent {
      p {
        font-size: 0.625rem;
        line-height: 0.9375rem;
        margin-bottom: 0.25rem;
        color: #666666;
      }
    }
  }

  .transaction-amount {
    float: right;
    width: 25%;
    margin-bottom: 0.9375rem;
    font-family: "Montserrat";
    color: #4b4b4b;
    font-style: normal;
    font-weight: 600;
    h3 {
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }

  //change balance color
  h3[class="debit"] {
    font-size: 1.5625rem;
    margin: 0.4375rem 0rem 0rem 0.4375rem;
  }

  h3[class="credit"] {
    font-size: 1.5625rem;
    margin: 0.4375rem 0rem 0rem 0.4375rem;
  }
}
