<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" routerLink="/pay-bills"></ion-icon>
    <ion-text><span>Confirmation</span></ion-text>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="confirm-details">
    <ion-text>Confirm transaction details</ion-text>
    <div>
      <ion-list>
        <div class="from">
          <ion-label>
            <h2>From</h2>
            <h3>{{accountType}}</h3>
            <p>{{accountNumber}}</p>
          </ion-label>
        </div>

        <ion-item-divider></ion-item-divider>

        <div class="to">
          <ion-label>
            <h2>To</h2>

            <h3><span>{{recipient}}</span></h3>
          </ion-label>
        </div>

        <ion-item-divider></ion-item-divider>

        <div class="carrier amount">
          <ion-label>
            <h2>Product</h2>
            <h3><span>{{product}}</span></h3>
          </ion-label>
        </div>
        <ion-item-divider></ion-item-divider>

        <div class="product amount">
          <ion-label>
            <h2>Category</h2>
            <h3><span>{{category}}</span></h3>
          </ion-label>
        </div>

        <ion-item-divider></ion-item-divider>

        <div class="product amount">
          <ion-label>
            <h2>{{requiredField}}</h2>
            <h3><span>{{customerId}}</span></h3>
          </ion-label>
        </div>

        <ion-item-divider></ion-item-divider>

        <div class="amount">
          <ion-label>
            <h2>Amount</h2>
            <h3><span>{{amount |currency:"NGN":"symbol-narrow" }}</span></h3>
          </ion-label>
        </div>

        <ion-item-divider></ion-item-divider>
      </ion-list>
    </div>
    <div class="btn">
      <ion-button
        class="button"
        (click)="openPinModal()"
        type="submit"
        expand="full"
        >Pay</ion-button
      >
    </div>
    <div class="btn-edit">
      <ion-button
        class="button"
        type="submit"
        expand="full"
        routerLink="/pay-bills"
        >Edit</ion-button
      >
    </div>
  </div>
</ion-content>
