<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-icon
    name="arrow-back"
    routerLink="/pay-bills"
    slot="start"
  ></ion-icon>
    <ion-title class="ion-text-center">Confirmation</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" fullscreen [scrollEvents]="true">
  <div class="introduction">
    <ion-text>Please confirm transaction details before you continue</ion-text>
    <div>

      <div class="content">
        <section>
          <p class="label_text">From</p>
          <p class="bold_text">{{accountType}}</p>
          <p>{{accountNumber}}</p>
        </section>

        <section>
          <p class="label_text">{{category}}</p>
          <p  class="bold_text">{{recipient}}</p>
          <p class="bold_text">{{product}}</p>
        </section>

        <section>
          <p class="label_text">Amount</p>
          <p class="bold_text">{{amount |currency:"NGN":"symbol-narrow" }}</p>
        </section>

        <section>
          <p class="label_text">{{requiredField}}</p>
          <p  class="bold_text">{{customerId}}</p>
        </section>


      </div>

          <div class="button_group">
      <div class="btn">
        <ion-button
          class="button"
          (click)="openPinModal()"
          type="submit"
          expand="block"
          >Pay</ion-button
        >
      </div>
      <div class="btn">
        <ion-button
          class="btn-edit"
          type="submit"
          expand="block"
          routerLink="/pay-bills"
          >Edit</ion-button>
      </div>
      </div>
    </div>
  </div>
  </ion-content>
