<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="auto"
          ><ion-icon name="arrow-back" routerLink="/contact-info"></ion-icon>
          <p>Back</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text>
    <h3>Open an account</h3>
    <p>Kindly fill the form to open an account with us</p>
    <h2><span>3/3</span>KYC Information</h2>
  </ion-text>

  <form [formGroup]="kycData">
    <!-- <div class="accountNumber">
      <ion-label>BVN <span>*</span></ion-label>
      <ion-input
        type="text"
         formControlName="bvn"
          maxlength="11"
        placeholder="Enter your valid BVN"
      ></ion-input>
      <ion-text></ion-text>
       <div class="text-danger" *ngIf="bvn.errors?.minlength">Bvn must be up to 11 digits</div>
    </div> -->
    <div class="accountNumber">
      <ion-label>Upload Photo <span>*</span></ion-label><br/>
      <input
        type="file"
        accept="image/"
        name="image"
        placeholder="upload image"
       (change)="handleImageUpload($event, 'avatar')"
      >
    </div>


    <div class="accountNumber signature">
      <ion-label>Upload Signature (Optional)</ion-label>
      <input
         type="file"
        accept="image/*"
        name="signature"
        placeholder="Signature"
        (change)="handleImageUpload($event, 'signature')"
      >
    </div>

    <!-- <img [src]="fileUploadObject.imageUrl" alt=""/>
     <img [src]="fileUploadObject.signatureUrl" alt=""/> -->

    <div class="btn">
      <ion-button [disabled]="fileUploadObject.imageUrl && fileUploadObject.signatureUrl ? false : true" (click)="createAccount(kycData)" expand="block" >Next</ion-button>
    </div>
  </form>
</ion-content>
