  <ion-header *ngIf="!isView" class="ion-no-border">
    <ion-toolbar>
      <div class="content-header">
          <ion-avatar slot="start">
            <ion-icon name="person-outline"></ion-icon>
          </ion-avatar>
          <ion-label>Hello {{firstName}}, </ion-label>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-header *ngIf="isView">
  <ion-toolbar>
    <ion-title class="ion-text-center"> Transaction History </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content
       pullingIcon="arrow-dropdown"
       pullingText="Pull to refresh"
       refreshingSpinner="circles"
       refreshingText="Refreshing...">
     </ion-refresher-content>
    </ion-refresher>
    <!-- ion-card -->
    <div class="ion-padding">
    <ion-slides (ionSlideDidChange)="slideChanged($event)" class='my-slides' [options]="{ slidesPerView:1 }" pager >
    <ion-slide class="card" *ngFor="let account of multipleAccounts; let i = index" >
      <app-card
      [accountBalance] = "account.availableBalance"
      [accountNumber]= "account.accountNumber">
    </app-card>
  </ion-slide>
  </ion-slides>
</div>

    <div class="padding">
    <div class="container" *ngIf="!extend">
      <ion-slides class='service-slides' [options]="{ slidesPerView:3 }" mode="ios" pager>
        <ion-slide>
        <div  class="innercontainer " routerLink="/new-tab/hometab/transfer">
        <img id="circle" src="../../assets/images/int-transfer.png"/>
        <a>Same Transfer</a>
        </div>
        </ion-slide>
        <ion-slide>
          <div class="innercontainer" routerLink="/other-transfer">
            <img id="circle" src="../../assets/images/bank-transfer.png"/>
            <a>Other Bank Transfer</a>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="innercontainer" routerLink="/manage-beneficiaries">
            <img id="circle" src="../../assets/images/user-profile.png"/>
            <a>Beneficiaries</a>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="innercontainer" routerLink="/new-tab/hometab/top-up">
            <img id="circle" src="../../assets/images/arrows.png"/>
            <a>Top Up</a>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="innercontainer" routerLink="/pay-bills">
            <img id="circle" src="../../assets/images/bill.png"/>
            <a>Pay Bills</a>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
    </div>

<!-- 
    <div *ngIf="!isView"  class="sections">
      <div  class="innercontainer" routerLink="/new-tab/hometab/transfer">
        <img id="circle" src="../../assets/images/int-transfer.png"/>
        <a>Same Transfer</a>
        </div>

        <div  class="innercontainer"  routerLink="/other-transfer">
         <img id="circle" src="../../assets/images/bank-transfer.png"/>
        <a>Other Banks</a>
        </div>

        <div  class="innercontainer"  routerLink="/manage-beneficiaries">
       <img id="circle" src="../../assets/images/user-profile.png"/>
        <a>Beneficiaries</a>
        </div>

        <div  class="innercontainer"  routerLink="/new-tab/hometab/top-up">
         <img id="circle" src="../../assets/images/arrows.png"/>
        <a>Top Up</a>
        </div>

        <div  class="innercontainer" routerLink="/pay-bills">
         <img id="circle" src="../../assets/images/bill.png"/>
        <a>Pay Bills</a>
        </div>
    </div> -->

<p *ngIf="isView" (click)="backHome()" class="backHome">Back to home</p>
    <div class="overlay-body">
      <div class="overlay" >
        <div class="header">
          <h3 *ngIf="!isView">Recent Transactions</h3>
          <!-- Route to transaction history page -->
          <p *ngIf="!isView" (click)="ViewMore()">View More</p>
          <ion-searchbar color="dark" *ngIf="isView" class="searchbar"  [debounce]="1000" (ionChange)="handleSearchInput($event)"></ion-searchbar>

        </div>
        <div class="divider"></div>
        <!-- Transaction History -->
        <app-transactions [accountHist] = "filteredAccountHistory"></app-transactions>
      </div>
    </div>

    <!-- <div  *ngIf="extend" class="history">
      <div class="overlay-body">
        <div class="overlay">
          <div class="header history">
            <h3>Transactions</h3>
            <p>
              <ion-icon name="chevron-down-outline" slot="end" (click)="extend =!extend"></ion-icon>
            </p>
          </div>

        <ion-searchbar class="searchbar" *ngIf="isSearch" [debounce]="1000"></ion-searchbar>
        <div class="divider"></div>
        <app-transactions [accountHist] = "accountHistory"> </app-transactions>

        </div>
      </div>
    </div> -->

  </ion-content>


