<ion-header *ngIf="isView" class="ion-no-border">
<ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="auto"
          ><ion-icon name="arrow-back" (click)="backHome()"></ion-icon
        ></ion-col>
        <ion-col size="9.8"> Transaction History</ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-header *ngIf="!isView" class="ion-no-border">
  <ion-toolbar>
    <div class="content-header">
      <ion-avatar slot="start">
        <ion-icon name="person-outline"></ion-icon>
      </ion-avatar>
      <ion-label>Hello {{firstName}}, </ion-label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div>
    <swiper-container [pagination]="true" [slidesPerView]="1.05" #swiper (slidechange)="swiperSlideChanged($event)">
      <swiper-slide *ngFor="let account of multipleAccounts; let i = index; ">

        <app-card
          [accountBalance]="account.availableBalance"
          [accountNumber]="account.accountNumber"
        >
        </app-card>

        <!-- <p>card 1</p> -->

      </swiper-slide>
    </swiper-container>

    <!-- timit -->

    <div class="quick_action" *ngIf="!isView">
      <h6>Quick Action</h6>

      <ion-grid [fixed]="true">
        <ion-row class="row">
          <ion-col id="open-modal" expand="block">
            <ion-modal #modal trigger="open-modal">
              <ng-template>
                <ion-content class="ion-padding">
                  <div class="select_transfer">
                    <p class="heading">Select the preferred transfer type</p>

                    <button
                      class="same_transfer"
                      (click)="cancel()"
                      routerLink="/new-tab/hometab/transfer"
                    >
                      Same Bank Transfer
                    </button>

                    <button
                      class="other_transfer"
                      (click)="cancel()"
                      routerLink="/other-transfer"
                    >
                      Other Bank Transfer
                    </button>
                  </div>
                </ion-content>
              </ng-template>
            </ion-modal>
            <div class="column">
              <img src="../../assets/images/Transfer.svg" />
              <p>Transfer</p>
            </div>
          </ion-col>

          <ion-col routerLink="top-up">
            <div class="column">
              <img src="../../assets/images/Top up.svg" />
              <p>Top up</p>
            </div>
          </ion-col>

          <ion-col routerLink="/pay-bills">
            <div class="column">
              <img src="../../assets/images/Pay bills.svg" />
              <p>Pay Bills</p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row  class="bottom-row">
          <ion-col  class="ion-text-center test" size="4" (click)="ViewMore()">
            <div class="column">
              <img src="../../assets/images/Transaction history.svg" />
              <p>Transactions</p>
            </div>
          </ion-col>

          <ion-col  class="ion-text-center test" size="4"  routerLink="/manage-beneficiaries">
            <div class="column">
              <img src="../../assets/images/Beneficiaries.svg" />
              <p>Beneficiaries</p>
            </div>
          </ion-col>

          <ion-col   class="ion-text-center test" size="4"  routerLink="/settings">
            <div class="column">
              <img src="../../assets/images/Settings.svg" />
              <p>Settings</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div class="transaction-container">
    <div
      class="header"
      [class.isView]="isView"
      [style.justify-content]="!isView ? 'space-around' : '' "
    >
      <h3 class="title" *ngIf="!isView">Recent Transactions</h3>
      <!-- Route to transaction history page -->
      <p class="view-more" *ngIf="!isView" (click)="ViewMore()">View More</p>
      <ion-searchbar
        fill="none"
        mode="ios"
        *ngIf="isView"
        class="searchbar"
        [debounce]="1000"
        (ionChange)="handleSearchInput($event)"
      ></ion-searchbar>

      <ion-icon name="funnel" class="funnel-icon" *ngIf="isView" (click)="openfilterModal()"> </ion-icon>
    </div>
    <!-- Transaction History -->
    <div class="history-container">
      <app-transactions
        [accountHist]="filteredAccountHistory"
      ></app-transactions>
    </div>
  </div>
</ion-content>
