.my-slides {
  --bullet-background: white;
  --bullet-background-active: white;
}

.service-slides {
  --bullet-background: #018401;
  --bullet-background-active: #018401;
  padding-bottom: 2.2rem;
}

.service-slides .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}

app-card {
  background-color: #ffffff;
  width: 100%;
  margin-right: 0.625rem;
}

//Toolbar Styling
ion-toolbar {
  .content-header {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 13px;

    ion-avatar {
      margin-left: 16px;
      width: 36px;
      height: 36px;
      background-color: rgb(243, 243, 243);
    }

    ion-icon {
      font-size: 20px;
      width: 20px;
      height: 20px;
      margin: 6px 0px 0px 8px;
      color: #000000;
    }

    ion-label {
      font-size: 16px;
      margin: 0px 0 0px 9px;
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;
    }
  }
}

//transfer history top bar

//Dashboard Components
.padding {
  padding: 16px;

  .container {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
}

.innercontainer {
  text-align: center;
  display: block;
  padding: 0;

  #circle {
    width: 30px;
    height: 30px;
    line-height: 500px;
    margin: 0px 20px 2px 20px;
  }
  a {
    color: #000000;
    text-decoration: none;
    font-size: 13px;
    text-align: center;
    width: 100%;
    vertical-align: bottom;
    display: inline-block;
  }
}

//Transactions Component

#scroll-list {
  height: 200px;
}

.test {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.transaction-container {
  background-color: #ffffff;
  margin-top: 300px;
  padding: 16px 16px 0 16px;

  margin-top: 12px;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 39px;

    .title {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 24px;
      font-family: "Montserrat";
      font-weight: 600;
      color: #484848 !important;
    }
    .view-more {
      color: #484848 !important;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 24px;
    }

    .funnel-icon {
      width: 30px;
      height: 30px;
      color: gray;
    }
    .searchbar {
      width: 247px;
      height: 40px;
      border: 1px solid #a6a6a6;
      margin-bottom: 10px;
      border-radius: 10px;
    }
  }
}

.tabs {
  ion-tab-bar,
  ion-tab-button {
    background-color: #ffffff;
    --background-focused: #018401;
    --color-selected: #018401;
  }
}

.transaction-history {
  .overlay {
    font-size: 55px;
  }
}

.hidden {
  display: none;
}

.sections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 25px;
}


