swiper-container {
  --swiper-pagination-bullet-inactive-color: black;
  --swiper-pagination-color: #808000;
  --swiper-pagination-bottom: -0.25rem;
  --swiper-pagination-bullet-horizontal-gap: 0.25rem;

}

.quick_action {
  margin-top: 0.8rem;
  h6 {
    color: #484848;
    font-weight: 700;
    font-size: 1rem;
  }

  .row {
    margin-top: -1.5625rem;
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    align-items: center;

    p {
      margin-top: -1.5rem;
      font-size: 0.8rem;
    }
  }
}

ion-col {
  text-align: center;
}

.select_transfer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .heading {
    margin-top: 2rem;
    align-self: center;
  }

  .same_transfer {
    padding: 1.1rem;
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0px 0px 4px -10px rgba(218, 218, 218, 0.26);
    font-size: 16px;
    box-sizing: border-box;
    margin-top: 1rem;
  }

  .other_transfer {
    padding: 1.1rem;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    border: 2px solid #000000;
    box-sizing: border-box;
    margin-top: 1rem;
  }
}

//Toolbar Styling
ion-toolbar {
  .content-header {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 13px;

    ion-avatar {
      margin-left: 16px;
      width: 36px;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(243, 243, 243);
    }

    ion-icon {
      font-size: 20px;
      width: 20px;
      height: 20px;
      color: #000000;
    }

    ion-label {
      font-size: 16px;
      margin: 0px 0 0px 9px;
      font-weight: 600;
      font-size: 1rem;
      line-height: 16px;
    }
  }
}

ion-modal {
  --height: 35%;
  --border-radius: 16px;
  padding: 1.5rem;
}

ion-modal::part(backdrop) {
  background: #000000;
  opacity: 1;
}

.innercontainer {
  text-align: center;
  display: block;
  padding: 0;

  #circle {
    width: 30px;
    height: 30px;
    line-height: 500px;
    margin: 0px 20px 2px 20px;
  }
  a {
    color: #000000;
    text-decoration: none;
    font-size: 13px;
    text-align: center;
    width: 100%;
    vertical-align: bottom;
    display: inline-block;
  }
}

//Transactions Component
.transaction-container {
  background-color: #ffffff;
  margin-top: 300px;
  padding: 16px 16px 16px 16px;
  margin-top: 12px;
  position: fixed;
  width: 100%;

  .header {
    border: solid red 1px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .title {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 24px;
      font-family: "Montserrat";
      font-weight: 600;
      color: #484848 !important;
    }
    .view-more {
      color: #484848 !important;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 24px;
    }

    .funnel-icon {
      width: 30px;
      height: 30px;
      color: gray;
      padding: 27px;
    }
    .searchbar {
      width: 247px;
      height: 40px;
      border: 1px solid #a6a6a6;
      margin-bottom: 10px;
      border-radius: 10px;
    }
  }

  .history-container {
    overflow: scroll;
    height: 100vh;
  }
}

.tabs {
  ion-tab-bar,
  ion-tab-button {
    background-color: #ffffff;
    --background-focused: #018401;
    --color-selected: #018401;
  }
}

.transaction-history {
  .overlay {
    font-size: 55px;
  }
}

.hidden {
  display: none;
}

.sections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 25px;
}
