
<div class="cardWrapper">
  <p class="top-left">{{accountNumber}}</p>
  <div class="bottom-left">
    <p class="available_text">Available Balance</p>
    <p class="show_balance" *ngIf="isdisplay">{{accountBalance|currency:"NGN":"symbol-narrow"}}</p>
    <p class="hidden-balance" *ngIf="!isdisplay">****</p>
  </div>
  <div class="bottom-right">
     <ion-button (click)="hideBalance()" slot="" fill="outline"><ion-icon click name="eye-off-sharp"></ion-icon></ion-button>
  </div>
  <img class="card-img" src="../../../../assets/images/altCard.png"/>
   </div>

