<!-- header -->
<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-icon
    name="arrow-back"
    routerLink="/change-pin-new"
    slot="start"
  ></ion-icon>
    <ion-title class="ion-text-center">Change Pin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding pin-modal">
  <p>Kindly enter your new transaction pin</p>


  <!-- same transfer segment -->

  <div class="same">
    <!-- ellipses -->
    <div class="auth-pin">
      <p class="passcode">Confirm New Pin</p>
      <div class="ellipses">
        <div id="circle">
          <div id="circlesss0" class="inner-circle"></div>
        </div>
        <div id="circle ">
          <div id="circle">
            <div id="circlesss1" class="inner-circle"></div>
          </div>
        </div>
        <div id="circle">
          <div id="circle">
            <div id="circlesss2" class="inner-circle"></div>
          </div>
        </div>
        <div id="circle">
          <div id="circle">
            <div id="circlesss3" class="inner-circle"></div>
          </div>
        </div>
      </div>

      <!-- dialpad section -->
      <div class="dialpad">
        <ion-button  fill="clear" size="small" class="grid-items" (click)="addNumber(1)">1</ion-button>
        <ion-button   fill="clear" type="button" size="small"  class="grid-items" (click)="addNumber(2)">2</ion-button>
        <ion-button   fill="clear" type="button" size="small"  class="grid-items" (click)="addNumber(3)">3</ion-button>
        <ion-button   fill="clear" type="button" size="small"  class="grid-items" (click)="addNumber(4)">4</ion-button>
        <ion-button    fill="clear" type="button" size="small" class="grid-items" (click)="addNumber(5)">5</ion-button>
        <ion-button  fill="clear"  type="button" size="small" class="grid-items"(click)="addNumber(6)">6</ion-button>
        <ion-button  fill="clear" type="button" size="small" class="grid-items" (click)="addNumber(7)">7</ion-button>
        <ion-button   fill="clear" type="button" size="small"  class="grid-items" (click)="addNumber(8)">8</ion-button>
        <ion-button  fill="clear" type="button" size="small"  class="grid-items" (click)="addNumber(9)">9</ion-button>
          <ion-button  fill="clear" type="button" size="small" class="grid-items" (click)="removeNumber()"><ion-icon name="backspace-sharp"></ion-icon></ion-button>
        <ion-button  fill="clear" type="button" size="small" class="grid-items" (click)="addNumber(0)">0</ion-button>
        </div>
      </div>
      </div>

      <!-- <div class="btn">
    <ion-button class="button"  type="submit" expand="block" >Proceed</ion-button>
  </div> -->
    </ion-content>
