<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon slot="start" name="chevron-back-outline"  routerLink="/new-tab/hometab/transfer"></ion-icon>
    <ion-title><span>Confirmation</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen [scrollEvents]="true">

  <div class="introduction">
    <ion-text>Please confirm transaction details before you continue</ion-text>
    <div>


  <div class="content">
    <section>
      <p>From</p>
      <p>Savings Account</p>
      <p class="bold_text">{{sourceAccount}}</p>
    </section>

    <section>
       <p>To</p>
      <p  class="bold_text">{{beneficiaryName}}</p>
      <p>{{destinationAccount}}</p>
    </section>

    <section>
        <p>Amount</p>
        <p  class="bold_text">{{amount |currency:"NGN":"symbol-narrow"}}</p>
    </section>

      <section>
        <p>Narration</p>
         <p  class="bold_text">Transaction description</p>
    </section>

  </div>

      <!-- <ion-list>

        <div class="from">
          <ion-label>
            <h2>From</h2>
            <h3>{{accountType}}</h3>
            <p>{{sourceAccount}}</p>
          </ion-label>
        </div>

        <ion-item-divider></ion-item-divider>

        <div class="to">
          <ion-label>
            <h2>To</h2>
            <h3>{{beneficiaryName}}</h3>
            <p>{{destinationAccount}} . {{beneficiaryBank}}</p>
          </ion-label>
        </div>

        <ion-item-divider></ion-item-divider>

        <div class="amount">
          <ion-label>
            <h2>Amount</h2>
            <h3><span> {{amount |currency:"NGN":"symbol-narrow"}}</span></h3>
          </ion-label>
        </div>

        <ion-item-divider></ion-item-divider>

      </ion-list>
    </div> -->

    <div class="button_group">
    <div class="btn">
      <ion-button expand="block"  (click)="openPinModal()" [strong]="true">Continue</ion-button>
     </div>
      <div >
        <ion-button class="button" class="btn-edit"  type="submit" expand="full" routerLink="/new-tab/hometab/transfer">Edit</ion-button>
      </div>
      </div>
  </div>

