<ion-header class="ion-no-border">
  <ion-toolbar  class="ion-padding-horizontal">
    <ion-icon slot="start"  size="md" name="arrow-back" routerLink="/new-tab/hometab/transfer"></ion-icon>
    <ion-title>Confirmation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen [scrollEvents]="true">

  <div class="introduction">
    <ion-text>Please confirm transaction details before you continue</ion-text>
    <div>


  <div class="content">
    <section>
      <p>From</p>
      <p>Savings Account</p>
      <p class="bold_text">{{sourceAccount}}</p>
    </section>

    <section>
       <p>To</p>
      <p  class="bold_text">{{beneficiaryName}}</p>
      <p>{{destinationAccount}}</p>
    </section>

    <section>
        <p>Amount</p>
        <p  class="bold_text">{{amount |currency:"NGN":"symbol-narrow"}}</p>
    </section>

      <section>
        <p>Narration</p>
         <p  class="bold_text">{{narration}}</p>
    </section>

  </div>


    <div class="button_group">
    <div class="btn">
      <ion-button expand="block"  (click)="openPinModal()" [strong]="true">Continue</ion-button>
     </div>
      <div class="btn">
        <ion-button class="button" class="btn-edit"  type="submit" expand="block" routerLink="/new-tab/hometab/transfer">Edit</ion-button>
      </div>
      </div>
  </div>

