<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="auto"
          ><ion-icon name="arrow-back" routerLink="/new-tab/hometab"></ion-icon
        ></ion-col>
        <ion-col size="9.5">Beneficiaries</ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="search-icon-container">
    <ion-searchbar
      fill="none"
      mode="ios"
      class="searchbar"
      [debounce]="1000"
      (ionChange)="handleSearchInput($event)"
    ></ion-searchbar>
    <ion-icon name="filter-outline" class="funnel-icon"></ion-icon>
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <ion-content>
    <div class="beneficiaries-list">
      <ion-item-group button detail="true">
        <ion-item *ngFor="let list of filteredBenList" id="open-modal">
          <!-- (click)="openModal(list.benAccountName,list.benAccountNumber,list.benBankName,list.benId, list.benBankCode)"
        button -->
          <div class="beneficiaries-details">
            <div class="ben-name">
              <ion-text>{{list.benAccountName}} </ion-text>
            </div>
            <div class="ben-account">
              <p>{{list.benAccountNumber}}</p>
              <p></p>
              <div class="hiphin">-</div>
              <p>{{list.benBankName}}</p>
            </div>
          </div>
        </ion-item>

        <ion-item *ngIf=" filteredBenList && filteredBenList.length <= 0">
          <p>Can't find Beneficiary</p>
        </ion-item>
      </ion-item-group>
    </div>

    <ion-modal #modal trigger="open-modal">
      <ion-col>
        <ng-template>
          <ion-content class="ion-padding">
            <div class="select_transfer" *ngFor="let list of filteredBenList">
              <div class="modal-accountno">
                <div class="accountNo">
                  <p>{{list.benAccountNumber}}</p>
                </div>
                <div class="bankName">
                  <p>{{list.benBankName}}</p>
                </div>
              </div>
              <button class="transfer-to-beneficiary" (click)="cancel()">
                Transfer to beneficiary
              </button>

              <button class="delete-beneficiary" (click)="cancel()">
                Delete beneficiary
              </button>
            </div>
          </ion-content>
        </ng-template>
      </ion-col>
    </ion-modal>
  </ion-content>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/add-beneficiaries">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
