.img-tree {
  display: flex;
  justify-content: flex-end;
}

.img-container {
  height: 122px;
  padding: 2rem 6rem;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.img-tree2 {
  width: 100%;
  max-width: 208px;
  height: auto;
  margin-top: 50%;
}

.text {
  position: absolute;
  width: 240px;
  height: 52px;
  left: calc(50% - 240px / 2);
  top: 626px;
  font-weight: 600;
  font-size: 20px;
  line-height: 131.4%;
  /* or 26px */

  text-align: center;
  text-transform: uppercase;

  color: #808000;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
