<ion-content>
  <div class="header">
    <div class="toolbar">
      <ion-header class="ion-no-border" mode="ios">
        <ion-title class="ion-text-center">Profile</ion-title>
      </ion-header>
    </div>

    <div class="sub-header">
      <div class="avatar">
        <h3 class="over">{{initials}}</h3>
      </div>
      <h3>{{accountInformation && accountInformation.customerName}}</h3>
    </div>
  </div>

  <div class="content">
    <ion-list lines="full">
      <ion-item lines="none">
        <!-- <ion-avatar slot="start">
            <img id="circle" src="../../assets/images/account.png" alt="" />
          </ion-avatar> -->
        <ion-label id="accountmodal">Account Information</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <!-- <ion-avatar slot="start">
            <img id="circle" src="../../assets/images/contact.png" alt="" />
          </ion-avatar> -->
        <ion-label id="helpmodal">Help & Support</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <!-- <ion-avatar slot="start">
            <img id="circle" src="../../assets/images/info2.png" alt="" />
          </ion-avatar> -->
        <ion-label id="aboutmodal">About</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item lines="none" (click)="logout()">
        <!-- <ion-avatar slot="start">
            <img id="circle" src="../../assets/images/logout.png" alt="" />
          </ion-avatar> -->
        <ion-label>Logout</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </div>

  <div class="modals">
    <ion-modal
      #modal
      mode="ios"
      trigger="accountmodal"
      (willDismiss)="onWillDismiss($event)"
      [initialBreakpoint]="0.6"
      [breakpoints]="[0, 0.6]"
    >
      <ng-template>
        <ion-content>
          <ion-list lines="full" class="help-details">
            <ion-item>
              <ion-header class="ion-no-border">
                <ion-toolbar>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="auto"></ion-col>
                      <ion-col> Account Information</ion-col>
                      <!-- <ion-col size="auto">
                  <ion-icon
                  name="close" 
                ></ion-icon></ion-col> -->
                    </ion-row>
                  </ion-grid>
                </ion-toolbar>
              </ion-header>
            </ion-item>

            <div class="accountcontent">
              <div class="details">
                <ion-label>BVN</ion-label>
                <ion-input
                  [value]="accountInformation.bvn"
                  disabled
                  fill="outline"
                ></ion-input>
              </div>

              <div class="details">
                <ion-label>Account Number</ion-label>
                <ion-input
                  [value]="accountInformation.accountNumber"
                  disabled
                  fill="outline"
                ></ion-input>
              </div>
              <!-- <p class="contain"></p> -->

              <div class="details">
                <ion-label>Email</ion-label>
                <ion-input
                  [value]="accountInformation.email"
                  disabled
                  fill="outline"
                ></ion-input>
              </div>

              <div class="details">
                <ion-label>Phone</ion-label>
                <ion-input
                  [value]="accountInformation.phoneNumber"
                  disabled
                  fill="outline"
                ></ion-input>
              </div>
            </div>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>

    <!-- Help & Support -->
    <ion-modal
      #modal
      mode="ios"
      trigger="helpmodal"
      (willDismiss)="onWillDismiss($event)"
      [initialBreakpoint]="0.5"
      [breakpoints]="[0, 0.5]"
    >
      <ng-template>
        <ion-content>
          <ion-list lines="full" class="help-details">
            <ion-item>
              <ion-header class="ion-no-border">
                <ion-toolbar>
                  <ion-grid>
                    <ion-row>
                      <ion-col>Help & Support</ion-col>
                      <!-- <ion-col size="auto"><ion-icon
                    name="close" 
                  ></ion-icon></ion-col> -->
                    </ion-row>
                  </ion-grid>
                </ion-toolbar>
              </ion-header>
            </ion-item>

            <div class="padding">
              <ion-item>
                <h3>
                  For help and enquiries, kindly contact us via any of our
                  channles
                </h3>
              </ion-item>
              <ion-item lines="none">
                <ion-icon name="call"></ion-icon>
                <ion-label>0700 200 200 200</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-icon name="mail"></ion-icon>
                <ion-label>support@olivemfb.com</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon name="globe-outline"></ion-icon>
                <ion-label>www.olivemfb.com</ion-label>
              </ion-item>
            </div>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>

    <!-- About Modal -->
    <ion-modal
      trigger="aboutmodal"
      mode="ios"
      (willDismiss)="onWillDismiss($event)"
      [initialBreakpoint]="0.5"
      [breakpoints]="[0, 0.5]"
    >
      <ng-template>
        <ion-content>
          <ion-list lines="full" class="help-details">
            <ion-item>
              <ion-header class="ion-no-border">
                <ion-toolbar>
                  <ion-grid>
                    <ion-row>
                      <ion-col>About</ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-toolbar>
              </ion-header>
            </ion-item>

            <div class="avatar-1">
              <ion-img src="./assets/images/olive3.png"></ion-img>
            </div>

            <div class="about-content">
              <!-- <h3>Version 3.4.1 (172022)</h3> -->
              <!-- <ion-item>
                <p>Your app version is up to date</p>
              </ion-item> -->
              <ion-item lines="none">
                <p class="text">User agreement</p>
              </ion-item>
              <ion-item lines="none">
                <p class="text">Privacy policy</p>
              </ion-item>
            </div>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>
