@import "../../app/hometab/hometab.page.scss";

ion-content {
  .header {
    background: #3E5151;  
    background: -webkit-linear-gradient(to right, #94876e, #3E5151);  
    background: linear-gradient(to right, #94876e, #3E5151); 
    height: 20rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    line-height: 2.5rem;
    margin-top: -1rem;

    h2 {
      margin-top: 1rem;
    }

    p {
      margin-top: 2rem;
      margin-bottom: 1.7rem;
      font-size: 1.3rem;
    }

    .avatar {
      height: 5.5rem;
      width: 5.5rem;
      border-radius: 3.125rem;
      margin-left: 0.75rem;
      background-color: white;
      position: relative;
      margin: auto;
    }

    .over {
      margin-top: 2rem;
      background-color: #e5e5e5;
      // position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 3.125rem;
      display: flex;
      justify-content: center;
      align-items: center;

      ion-icon {
        color: black;
        font-size: 2.1875rem;
      }
    }
  }

  .overlay {
    background-color: #e2e2e2a2;
    box-shadow: none;
    border-radius: 0;
  }

  .content {
    margin-top: -4rem;
    ion-icon {
      font-size: 20px;
    }

    .settings-header {
      background-color: #ffffff;
      margin: 10px 0px 10px 16px;
      p {
        font-size: 23px;
        font-weight: 400;
        color: #018401;
      }
    }

    .user-details {
      background-color: #ffffff;
      margin: 1rem 0.3rem 0 0.3rem;
      border-radius: 5px;
      ion-avatar {
        margin-right: 8px;
        width: 32px;
        height: 32px;
        background: #3E5151;
        img {
          color: white;
          padding: 2px;
          height: 28px;
          width: 28px;
          margin: 2px;
        }
      }

      ion-icon {
        margin-right: -0.3rem;
      }
    }

    .app-details {
      background-color: #ffffff;
      margin: 1rem 0.3rem 0 0.3rem;
      border-radius: 5px;

      ion-avatar {
        margin-right: 8px;
        width: 32px;
        height: 32px;
        background: #3E5151;
        img {
          color: white;
          padding: 2px;
          height: 28px;
          width: 28px;
          margin: 2px;
        }
      }

      ion-icon {
        margin-right: -0.3rem;
      }

      .logout-details {
        img {
          width: 25px;
          height: 25px;
          margin-right: 8px;
        }
      }
    }
  }

  .modal-content {
    border: 1px solid red;
  }
}

ion-modal {
  ng-template {
    ion-content {
      ion-item {
        --ion-text-color: #000000;
      }
    }
  }
}

//about modal
.avatar-1 {
  width: 103px;
  height: 64px;
  object-fit: contain;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  margin-bottom: 15%;
}

.about-content {
  h3 {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #040d2c;
  }

  p {
    color: #040d2c;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  ion-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    --background: #3E5151;
    --border-radius: 5px;
    height: 40px;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
  }
}

.help {
  ion-title {
    margin: 15px 0 0 -6px;
    font-size: 16px;
  }
  ion-label {
    font-size: 14px;
  }
}
