<ion-content class="ion-padding">
  <ion-item lines="none">
    <div class="header">
      <div class="title">
        <ion-label class="text">Filter by</ion-label>
      </div>
    </div>
  </ion-item>
  <div class="bottom-border"></div>

  <ion-item lines="none">
    <div class="container">
      <ion-label> Date </ion-label>

      <div class="date-container">
        <div class="start-date">
          <ion-label>Start Date </ion-label>
          <ion-input placeholder="Select date"
            ><ion-icon name="calendar"></ion-icon>
          </ion-input>
        </div>
        <div class="end-date">
          <ion-label>End Date </ion-label>
          <ion-input placeholder="Select date">
            <ion-icon name="calendar"></ion-icon
          ></ion-input>
        </div>
      </div>
    </div>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Transaction type</ion-label>
  </ion-item>
</ion-content>
