<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-icon
    name="arrow-back"
    routerLink="/settings"
    slot="start"
  ></ion-icon>
    <ion-title class="ion-text-center">Reset Pin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3>Kindly enter your app password and a new transaction pin.</h3>
  <form [formGroup]="forgotPinForm">
    <div class="form">
      <ion-label for="password" form>Password</ion-label>
      <ion-input
        type="password"
        name="password"
        formControlName="password"
      ></ion-input>
    </div>

    <div class="password form">
      <ion-label for="pin" form>New Transaction Pin</ion-label>
      <ion-input
        type="password"
        name="pin"
        maxLength="4"
        formControlName="pin"
        placeholder="Enter your new four digits  pin"
      ></ion-input>
      <!-- <ion-text></ion-text>
      <p>Transaction pin must be four digits</p> -->
    </div>
   
<div class="btn">
    <ion-button
      expand="block"
      [disabled]="!forgotPinForm.valid"
      (click)="checkPassword(forgotPinForm)"
      >Submit</ion-button>
  </div>
  </form>
</ion-content>
