<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="auto"><ion-icon
          name="arrow-back"
          routerLink="/settings"
        ></ion-icon></ion-col>
        <ion-col size="9.5">Forgot Pin</ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text>
    <h3>Forgot Password</h3>
    <p class="text">
      Kindly input account number and 
transaction pin.
    </p>
  </ion-text>
  <form [formGroup]="forgotPinForm">
    <div class="form">
      <ion-label for="password" form>Password</ion-label>
      <ion-input
        type="password"
        name="password"
        formControlName="password"
      ></ion-input>
    </div>

    <div class="password form">
      <ion-label for="pin" form>New Transaction Pin</ion-label>
      <ion-input
        type="password"
        name="pin"
        maxLength="4"
        formControlName="pin"
        placeholder="Enter your new four digits  pin"
      ></ion-input>
      <!-- <ion-text></ion-text>
      <p>Transaction pin must be four digits</p> -->
    </div>
   
<div class="btn">
    <ion-button
      expand="block"
      [disabled]="!forgotPinForm.valid"
      (click)="checkPassword(forgotPinForm)"
      >Submit</ion-button>
  </div>
  </form>
</ion-content>
