<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" routerLink="/login-screen"></ion-icon>
    <ion-text><span>Forgot Password</span></ion-text>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text>
    <h3>Forgot your Password?</h3>
    <p>
      Please input your account number and transaction pin. An OTP will be sent
      to your registered phone number
    </p>
  </ion-text>
  <form [formGroup]="sendOtpForm">
    <div class="accountNumber">
      <ion-label for="accountNumber" form>Account Number</ion-label>
      <ion-input
        type="text"
        name="accountNumber"
        maxlength="10"
        formControlName="accountNumber"
      ></ion-input>
      <ion-text></ion-text>
    </div>

    <div class="password">
      <ion-label for="pin" form>Transaction Pin</ion-label>
      <ion-input
        type="password"
        name="pin"
        maxlength="10"
        formControlName="pin"
      ></ion-input>
      <ion-text></ion-text>
    </div>

    <ion-button
      expand="block"
      [disabled]="!sendOtpForm.valid"
      (click)="authorizePin(sendOtpForm)"
      >Submit</ion-button
    >
  </form>
</ion-content>
