@import "../auth/logIn/pages/login-screen/login-screen.page.scss";

h4 {
  font-size: .875rem;
  text-decoration: underline;
}

ion-col {
  margin-left: -0.5rem;
}
ion-toolbar {
  height: 4rem;
}
ion-content{
  h3 {
    margin-top: -2rem;
    font-size: 1.25rem;
    font-weight: 600;
  }
  p {
    color: #a3a30a;
    font-size: .875rem;
    font-weight: 600;
    line-height: 140%;
    width: 20.3125rem;
  }
  
}

.accountNumber {
  margin-top: 1rem;
}
