@import "../auth/logIn/pages/login-screen/login-screen.page.scss";

ion-content{
  h3 {
    margin-top: -1rem;
  }
  p {
    color: #a3a30a;
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    width: 325px;
  }
}

.accountNumber {
  margin-top: 1rem;
}
