<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="auto"><ion-icon
          name="chevron-back-outline"
          routerLink="/login-screen"
        ></ion-icon></ion-col>
        <ion-col size="9.5">Forgot Password</ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text>
    <h3>Forgot your Password?</h3>
    <p>
      Please input your account number and transaction pin. An OTP will be sent
      to your registered phone number
    </p>
  </ion-text>
  <form [formGroup]="sendOtpForm">
    <div class="accountNumber">
      <ion-label for="accountNumber" form>Account Number</ion-label>
      <ion-input
        type="text"
        name="accountNumber"
        maxlength="10"
        formControlName="accountNumber"
      ></ion-input>
      <ion-text></ion-text>
    </div>

    <div class="form">
      <ion-label for="pin" form>Transaction Pin</ion-label>
      <ion-input
        type="password"
        name="pin"
        maxlength="10"
        formControlName="pin"
      ></ion-input>
      <ion-text></ion-text>
    </div>

    <div class="btn">
    <ion-button
      expand="block"
      [disabled]="!sendOtpForm.valid"
      (click)="authorizePin(sendOtpForm)"
      >Submit</ion-button
    ></div>
  </form>
</ion-content>
