@import "/src/app/transfer/receipt/receipt.page.scss";
// @import "/src/app/home/pages/dashboard/dashboard.page.scss";
@import "/src/app/transfer/full-activity/full-activity.page.scss";
@import "/src/app/hometab/transactions/transactions.component.scss";

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;

  .text {
    color: #808000;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 46px;
  }

  .icon {
    position: absolute;
    left: 88.61%;
    right: 7.22%;
    top: 5.48%;
    bottom: 90.71%;
  }
}

.bottom-border {
  left: 4.5px;
  border: 1px solid #727263;
}

.transaction-type {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  gap: 5px;
  padding-bottom: 15px;
  border-bottom: 1px solid #cacaca;

  ion-icon[name="arrow-up-outline"] {
    color: #e000009c;
    font-size: 25px;
    margin: 7px 0px 0px 7px;
  }

  ion-icon[name="arrow-down-outline"] {
    color: #0a792f9c;
    font-size: 25px;
    margin: 7px 0px 0px 7px;
  }
}

.forTo {
  gap: 14px;
  margin-left: 0.2px;
  padding-bottom: 15px;
  width: 100%;
  padding-bottom: 14px;
  border-bottom: 1px solid #cacaca;
  

  .from {
    display: block;
    p {
      font-size: 12px;
      color: #595757;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      letter-spacing: -0.24px;
    }
    h2 {
      font-family: "Montserrat";
      letter-spacing: -0.24px;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
      color: #252525;
    }
  }
  .to {
    display: block;
    p {
      font-size: 12px;
      color: #595757;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      letter-spacing: -0.24px;
    }
    h2 {
      font-family: "Montserrat";
      letter-spacing: -0.24px;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
      color: #252525;
    }
  }
}

.transaction-date {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 14px;
  border-bottom: 1px solid #cacaca;

  p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #252525;
  }

  h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #595757;
  }
}
.transaction-reference {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 14px;
  border-bottom: 1px solid #cacaca;

  p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #252525;
  }
  h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #595757;
  }
}
.balance-after {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 14px;
  border-bottom: 1px solid #cacaca;
  p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #252525;
  }
  h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #595757;
  }
}

ion-item {
  margin: 20px 0px 15px -15px;
}

.receipt {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 28px;
  align-items: center;

  .share-receipt {
    gap: 0;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }
  .download-receipt {
    gap: 0;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }
}

.hidden {
  display: none;
}
