
<ion-header class="ion-no-border ion-no-padding">
  <ion-toolbar class="ion-padding-horizontal">
          <ion-icon
          size="md"
            name="arrow-back"
            routerLink="/new-tab/hometab"
            slot="start"
          ></ion-icon
        >
        <ion-title>Mobile Top-up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment
    value="all"
    mode="ios"
    [(ngModel)]="segmentModel"
    (ionChange)="segmentChanged($event)"
  >
    <ion-segment-button value="seg1">
      <ion-label>Airtime</ion-label>
    </ion-segment-button>
    <ion-segment-button value="seg2">
      <ion-label>Data Bundle</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="accounts" (click)="isAccount =!isAccount">
    <div class="accounts-header">
      <ion-text>{{accountNumber}}</ion-text
      ><ion-icon name="chevron-down-outline" slot="end"></ion-icon>
    </div>
  </div>

  <div *ngIf="isAccount">
    <div
      *ngFor="let account of multipleAccounts"
      class="account-list"
      (click)="selectAccountNumber(account.accountNumber)"
      (click)="isAccount =!isAccount"
    >
      <div class="account-type">
        <h3>{{account.accountNumber}}</h3>
      </div>

      <div class="acct-number">
        <ion-text
          >{{account.availableBalance|currency:"NGN":"symbol-narrow"}}</ion-text
        >
      </div>
    </div>
  </div>

  <form
    [formGroup]="airtimeForm"
    class="transfer-forms"
    *ngIf="segmentModel === 'seg1'"
  >
    <div class="inputGroup">
      <ion-select
        placeholder="Select Carrier"
        interface="action-sheet"
        [interfaceOptions]="{ cssClass: 'select'}"
        (ionChange)="selectCarrier($event)"
      >
        <ion-select-option
          [disabled]="true"
          *ngFor="let biller of billers"
          value="{{biller.billerid}}"
          >{{biller.billername}}</ion-select-option
        >
      </ion-select>
    </div>

    <div class="inputGroup">
      <ion-input
        [disabled]="isNumberDisabled"
        placeholder="Enter Mobile Number"
        type="tel"
        id="phoneInput"
         maxlength="11"
        formControlName="airtimeNumber"
      ></ion-input>
    </div>

    <div class="inputGroup">
      <ion-input
        [ngModel]="airtimeAmount"
        (input)="formatInput($event.target.value)"
        [disabled]="isAmountDisabled"
        placeholder="Amount"
        type="text"
        formControlName="airtimeAmount"
      ></ion-input>
     <div class="transfer-limit">
        <ion-label>Current. transfer limit:</ion-label>
        <ion-label  class="title">
          {{limit|currency:"NGN":"symbol-narrow"}}
        </ion-label>
      </div>
    </div>

    <div class="btn">
      <ion-button
        routerLink="/top-up/topup-confirmation"
        (click)="submitAirtimeDetails(airtimeForm)"
        type="submit"
        [disabled]="airtimeForm.valid && isAccountSelected ? false : true"
        expand="block"
        >Continue</ion-button
      >
    </div>
  </form>

  <form [formGroup]="mobileDataForm" class="transfer-forms" *ngIf="segmentModel === 'seg2'">


    <div class="inputGroup">
      <ion-select
        placeholder="Select Carrier"
        [interfaceOptions]="{ cssClass: 'select'}"
        interface="action-sheet"
        (ionChange)="selectCarrierForBundle($event)"
      >
        <ion-select-option
          *ngFor="let biller of billers"
          value="{{biller.billerid}}"
          >{{biller.billername}}</ion-select-option
        >
      </ion-select>
    </div>



    <div class="inputGroup">
      <ion-select
        #bund
        placeholder="Select Bundle"
        interface="action-sheet"
         [interfaceOptions]="{ cssClass: 'select'}"
        (ionChange)="getAmount(bund.value)"
      >
        <ion-select-option
          *ngFor="let bundle of billerProducts"
          value="{{bundle.paymentitemid}}"
        >
          {{bundle.paymentitemname}}mb for {{bundle.amount / 100 |
          currency:"NGN":"symbol-narrow"}}</ion-select-option
        >
      </ion-select>
    </div>

    <div class="inputGroup">
    <ion-input
      placeholder="Amount"
      [ngModel]="dataAmount"
      (input)="formatInput($event.target.value)"
      type="text"
      formControlName="mobileDataAmount"
      required
    ></ion-input>
    <div class="transfer-limit">
        <ion-label>Current. transfer limit:</ion-label>
        <ion-label  class="title">
          {{limit|currency:"NGN":"symbol-narrow"}}
        </ion-label>
      </div>
    </div>

     <div class="inputGroup">
    <ion-input
      placeholder="Mobile Number"
      type="tel"
        maxlength="11"
      formControlName="mobileDataNumber"
      id="phoneInput"
    ></ion-input>
    </div>

    <div class="btn">
      <ion-button
        routerLink="/top-up/topup-confirmation"
        (click)="submitDataDetails(mobileDataForm)"
        type="submit"
        [disabled]="!mobileDataForm.valid"
        expand="block"
        >Continue</ion-button
      >
    </div>
  </form>
</ion-content>
