<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-icon
    name="arrow-back"
    routerLink="/new-tab/hometab"
    slot="start"
  ></ion-icon>
    <ion-title class="ion-text-center">Mobile Top-up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment
    value="all"
    mode="ios"
    [(ngModel)]="segmentModel"
    (ionChange)="segmentChanged($event)"
  >
    <ion-segment-button value="seg1">
      <ion-label>Airtime</ion-label>
    </ion-segment-button>
    <ion-segment-button value="seg2">
      <ion-label>Data Bundle</ion-label>
    </ion-segment-button>
  </ion-segment>

  <form
    [formGroup]="airtimeForm"
    class="transfer-forms"
    *ngIf="segmentModel === 'seg1'"
  >
  <section class="form inputGroup">
    <p class="title">Select account</p>
  <div class="accounts" (click)="isAccount =!isAccount">
    <div class="accounts-header">
      <ion-text>{{accountNumber}}</ion-text
      ><ion-icon name="chevron-down-outline" slot="end"></ion-icon>
    </div>
  </div>
  </section>

  <div class="accountlist_wrapper" *ngIf="isAccount">
    <div
      *ngFor="let account of multipleAccounts"
      class="account-list"
      (click)="selectAccountNumber(account.accountNumber)"
      (click)="isAccount =!isAccount"
    >
      <div class="account-type">
        <h3>{{account.accountNumber}}</h3>
      </div>

      <div class="acct-number">
        <ion-text
          >{{account.availableBalance|currency:"NGN":"symbol-narrow"}}</ion-text
        >
      </div>
    </div>
  </div>



    <div class="inputGroup form">
      <p class="title">Select network provider</p>
      <ion-select
        placeholder="Select network provider"
        interface="action-sheet"
        [interfaceOptions]="{ cssClass: 'select'}"
        (ionChange)="selectCarrier($event)"
      >
        <ion-select-option
          [disabled]="true"
          *ngFor="let biller of billers"
          value="{{biller.billerid}}"
          >{{biller.billername}}</ion-select-option
        >
      </ion-select>
    </div>

    <div class="inputGroup form">
      <p class="title">Mobile number</p>
      <ion-input
        [disabled]="isNumberDisabled"
        placeholder="Input mobile number"
        type="tel"
        id="phoneInput"
         class="custom"
         maxlength="11"
        formControlName="airtimeNumber"
      ></ion-input>
    </div>

    <div class="inputGroup form">
       <p class="title">Top-up amount</p>
      <ion-input
        [ngModel]="airtimeAmount"
        (input)="formatInput($event.target.value)"
        [disabled]="isAmountDisabled"
        placeholder="input top-up amount"
        type="text"
         class="custom"
        formControlName="airtimeAmount"
      ></ion-input>
     <div class="transfer-limit">
        <ion-label>Current. transfer limit:</ion-label>
        <ion-label  class="title">
          {{limit|currency:"NGN":"symbol-narrow"}}
        </ion-label>
      </div>
    </div>

    <div class="btn">
      <ion-button
        routerLink="/top-up/topup-confirmation"
        (click)="submitAirtimeDetails(airtimeForm)"
        type="submit"
        [disabled]="airtimeForm.valid && isAccountSelected ? false : true"
        expand="block"
        >Continue</ion-button
      >
    </div>
  </form>

  <form [formGroup]="mobileDataForm"    class="transfer-forms" *ngIf="segmentModel === 'seg2'">

    <section class="form inputGroup">
    <p class="title">Select account</p>
  <div class="accounts" (click)="isAccount =!isAccount">
    <div class="accounts-header">
      <ion-text>{{accountNumber}}</ion-text
      ><ion-icon name="chevron-down-outline" slot="end"></ion-icon>
    </div>
  </div>
  </section>

  <div class="accountlist_wrapper" *ngIf="isAccount">
    <div
      *ngFor="let account of multipleAccounts"
      class="account-list"
      (click)="selectAccountNumber(account.accountNumber)"
      (click)="isAccount =!isAccount"
    >
      <div class="account-type">
        <h3>{{account.accountNumber}}</h3>
      </div>

      <div class="acct-number">
        <ion-text
          >{{account.availableBalance|currency:"NGN":"symbol-narrow"}}</ion-text
        >
      </div>
    </div>
  </div>

    <div class="form inputGroup">
        <p class="title">Select network provider</p>
      <ion-select
        placeholder="Select Carrier"
        [interfaceOptions]="{ cssClass: 'select'}"
        interface="action-sheet"
        (ionChange)="selectCarrierForBundle($event)"
      >
        <ion-select-option
          *ngFor="let biller of billers"
          value="{{biller.billerid}}"
          >{{biller.billername}}</ion-select-option
        >
      </ion-select>
    </div>



    <div class="form inputGroup">
       <p class="title">Select bundle</p>
       <div *ngIf="isBundle"  class="spinner">
        <ion-item lines="none">
          <ion-label>Loading...</ion-label>
          <ion-spinner></ion-spinner>
        </ion-item>
      </div>
      <ion-select *ngIf="!isBundle"
        #bund
        placeholder="Select Bundle"
        interface="action-sheet"
         [interfaceOptions]="{ cssClass: 'select'}"
        (ionChange)="getAmount(bund.value)"
      >
        <ion-select-option
          *ngFor="let bundle of billerProducts"
          value="{{bundle.paymentitemid}}"
        >
          {{bundle.paymentitemname}}mb for {{bundle.amount / 100 |
          currency:"NGN":"symbol-narrow"}}</ion-select-option
        >
      </ion-select>
    </div>

    <div class="form inputGroup">
      <p class="title">Amount</p>
    <ion-input
      placeholder="Amount"
      [ngModel]="dataAmount"
       class="custom"
      (input)="formatInput($event.target.value)"
      type="text"
      formControlName="mobileDataAmount"
      required
    ></ion-input>
    <div class="transfer-limit">
        <ion-label>Current. transfer limit:</ion-label>
        <ion-label  class="title">
          {{limit|currency:"NGN":"symbol-narrow"}}
        </ion-label>
      </div>
    </div>

     <div class="form inputGroup">
        <p class="title">Mobile number</p>
    <ion-input
      placeholder="input mobile number"
      type="tel"
       class="custom"
        maxlength="11"
      formControlName="mobileDataNumber"
      id="phoneInput"
    ></ion-input>
    </div>

    <div class="btn">
      <ion-button
        routerLink="/top-up/topup-confirmation"
        (click)="submitDataDetails(mobileDataForm)"
        type="submit"
        [disabled]="!mobileDataForm.valid"
        expand="block"
        >Continue</ion-button
      >
    </div>
  </form>
</ion-content>
