<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="auto"
          ><ion-icon name="arrow-back" routerLink="/account-options"></ion-icon>
          <p>Back</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text>
    <h3>Open an account</h3>
    <p>Kindly fill the form to open an account with us</p>
    <h2>Personal information</h2>
  </ion-text>

  <form>
    <div class="accountNumber">
      <ion-label>First Name <span>*</span></ion-label>
      <ion-input
        type="text"
        placeholder="Enter your first name"
      ></ion-input>
      <ion-text></ion-text>
    </div>
    <div class="accountNumber">
      <ion-label>Last Name <span>*</span></ion-label>
      <ion-input
        type="text"
        placeholder="Enter your last name"
      ></ion-input>
      <ion-text></ion-text>
    </div>
    <div class="accountNumber">
      <ion-label>Middle Name (Optional)</ion-label>
      <ion-input
        type="text"
        placeholder="Enter your middle name"
      ></ion-input>
      <ion-text></ion-text>
    </div>
    <div class="accountNumber">
      <ion-label>Gender <span>*</span></ion-label>

      <ion-select
        placeholder="Select Gender"
        interface="popover"
      >
        <ion-select-option value="male">Male</ion-select-option>
        <ion-select-option value="female">Female</ion-select-option>
      </ion-select>
      <ion-text></ion-text>
    </div>

      <div class="accountNumber">
      <ion-label>Email Address <span>*</span></ion-label>
      <ion-input
        type="email"

        placeholder="Enter your email address"
      ></ion-input>
      <ion-text></ion-text>
       <!-- <div class="text-danger" *ngIf="email.errors?.pattern">Email must be a valid email address</div> -->
    </div>

    <div class="btn">
      <ion-button
        expand="block"
        [routerLink]="['/successpage']"
        >Next</ion-button
      >
    </div>
  </form>
</ion-content>
